/* 一些自定义样式 */
/* 追番页样式 */
.bangumi-active {
    background: #c6d9a3 !important;
    color: #fff !important;
    border-radius: 10px;
    padding: 8px 10px !important;
}

.bangumi-info-item {
    border-right: 2px solid #94A270 !important;
}

.bangumi-comments>p {
    margin-left: 20px !important;
    color: #bdaead;
}

.bangumi-picture img {
    width: 100px !important;
    border-radius: 5px !important;
}

/* 赞赏图片 */
#qr div {
    margin-right: 20px !important;
}

#qr img {
    width: 150px !important;
    height: 150px !important;
}